<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.penajamm">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PenaJamm"
        tools:targetApi="31">
        <activity
            android:name=".VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:label="@string/title_activity_chat"
            android:theme="@style/Theme.PenaJamm.NoActionBar" />
        <activity
            android:name=".NewPostActivity"
            android:exported="false"
            android:label="NewPostActivity"
            android:theme="@style/Theme.PenaJamm.NoActionBar" />
        <activity
            android:name=".Userlist"
            android:exported="false"
            android:label="Userlist"
            android:theme="@style/Theme.PenaJamm.NoActionBar" />
        <activity
            android:name=".PostActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilePageActivity"
            android:exported="false"
            android:label="@string/title_activity_profile_page"
            android:theme="@style/Theme.PenaJamm.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ScrollingActivity"
            android:exported="false"
            android:label="Auditions"
            android:theme="@style/Theme.PenaJamm.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreenActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PenaJamm.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>